#inner {
  max-width: 640px;
}

#drawArea,
#video {
	position: relative;
}

#mask, #wireframe {
	position: absolute;
	top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

#video {
	width: 100%;
	height: auto;
}

#ui {
	margin: 20px 0 0;
}

#ui input {
	margin: 0 0 10px;
}
